// Theme Colors
@bg-color-primary: #F5F5F5;
@bg-color-secondary: #FFFFFF;
@div-border-color-1: rgba(0, 0, 0, 0.377);

@theme-color-primary: #117DBD;
@theme-color-secondary: #132E57;

body{
  background-color: @bg-color-primary;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
html, #root{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.login-container {
  position: relative;
  height: 81vh;
  margin-top: 7vh;
}

.login-div {
  background-color: @bg-color-secondary;
  border: 0.3px solid @div-border-color-1;
  border-radius: 10px;
  // min-height: 400px;
  min-width: 400px;
}
.login-title{
  color: @bg-color-secondary;
}

.login-button{
  background-color: @theme-color-secondary;
  font-weight: bold;
}

.login-button:hover{
 background-color: @theme-color-primary;
}
